<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ems">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMS">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".transection_view_activity" />
        <activity android:name=".Transection_list_activity">

        </activity>
        <activity android:name=".Transection_One_Record" />
        <activity android:name=".One_Application_Activity" />
        <activity android:name=".Application_view_Activity" />
        <activity android:name=".Applicationl_List_Activity" >

        </activity>
        <activity android:name=".Scholarship_One_Record" />
        <activity android:name=".Scholarship_view_Activity" />
        <activity android:name=".Scholarship_List_Activity" >

        </activity>
    </application>

</manifest>